.recipes {
    padding: 100px 80px 215px;
    background-color: #0a2750;
    background-image: url(../images/background_recipes.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.recipes__title {
    color:#FFFFFF;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    max-width: 500px;
    margin: 0;
}

.recipes__subtitle {
    color:#FFFFFF;
    font-family: 'Noto Serif', 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 30px;
    max-width: 438px;
    margin: 24px 0 80px;
}

.recipes__videos {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: auto;
}

.recipes__video-caption {
    display: flex;
    justify-content: space-between;
    color:#FFFFFF;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    margin: 24px 0;
}

.recipes__iframe {
    border: 0;
    width: 480px;
    height: 273px;
}